language: ruby
rvm:
  - 2.2.2
before_install: gem install bundler -v 1.10.5
cache: bundler

services:
  - postgresql
addons:
  postgresql: "9.3"

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - cp config/database.yml.travis config/database.yml
  - bin/rake db:migrate RAILS_ENV=test
