default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: duoduo_development
  username: wendi

test:
  <<: *default
  database: duoduo_test
  username: wendi
