<div class='contract_file_upload_panel'>
  <ul>
    <% contract_files.each do |cf| %>
      <li>
        <span><%= cf.contract_identifier %></span>
        <span>( <%= link_to '下载', cf.contract.url %> 
          <%= form_tag(big_contract_path(cf), method: :delete, class: 'form_tag') do %>
            <%= link_to "删除",  "#", :onclick=>"$(this).closest('form').submit()" %>
          <% end %>
           )
        </span>
        <% if cf.enable %>
          <span class='active_big_contract'>正在使用</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
