// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.form_tag {
  display: inline
}

.iit_form {
  fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label {
    display: inline;
  }
  .submit {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result {
    margin: 0;
    color: #F35F5F;
    display: none;
  }
}

.sidebar_section {
  .update_iit_base {
    float: right;
  }
}

.ui-dialog {
  max-height: 420px;
  overflow-y: auto;
  top: 40px;
}

.views_selector {
  margin-left: 10px;
}

#utility_nav {
  .has_nested {
    margin-left: 113px;
  }

  #current_user ul {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
  }
}

.pa-content {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: solid 1px #cdcdcd;
  height: 50px;
  width: 60%;
  line-height: 30px;

  .time-ago {
    font-size: 80%;
    font-style: italic;
  }
}

#search_status_sidebar_section {
  h4 {
    font-size: 1em;
  }
}

body.engineering_customers table.index_table thead tr {
  th:nth-child(3) {
    min-width: 150px !important;
  }
  th:nth-child(6) {
    min-width: 140px !important;
  }
}

.engineering_corps {
  input[name='start_date'], input[name='end_date'] {
    width: 200px;
  }

  .active_big_contract {
    color: green;
  }
}

.engineering_projects .index_table{
  th:nth-child(3) {
    min-width: 250px !important;
  }
  th:nth-child(5) {
    min-width: 100px !important;
  }
  th:nth-child(6) {
    min-width: 80px !important;
  }
  th.col-staff_detail {
    min-width: 145px !important;
  }
  td.col-staff_detail {
    li {
      display: inline;
    }
  }
}

.engineering_staffs .index_table{
  th:nth-child(4) { // 状态
    min-width: 42px !important;
  }
  th:nth-child(5) { // 客户
    min-width: 100px !important;
  }
  th:nth-child(12) { // 备注
    min-width: 150px !important;
  }
  td.col-salary_item_detail {
    li {
      display: inline;
    }
  }
  th.col-remark {
    min-width: 100px !important;
  }
}

.engineering_salary_tables .index_table{
  th.col-actions {
    min-width: 230px !important;
  }
  th.col-name {
    min-width: 70px !important;
  }
  th.col-project {
    min-width: 150px !important;
  }
}

.engineering_salary_tables .index_table{
  th.col-salary_item_detail {
    min-width: 80px !important;
  }
  td.col-salary_item_detail {
    li {
      display: inline;
    }
  }
  th.col-type {
    min-width: 80px !important;
  }
}

.engineering_normal_salary_items {
  .action_items {
    display: none;
  }
  .index_table {
    .view_link {
      display: none;
    }
  }
}
.engineering_normal_with_tax_salary_items {
  .action_items {
    display: none;
  }
  .index_table {
    .view_link {
      display: none;
    }
  }
}

#header {
  #tabs > li:nth-child(3) { // 业务
    display: none;
  }
  #tabs > li:nth-child(6) { // 开发相关
    display: none;
  }
}
