// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$table_red: rgba(255, 34, 34, 0.08);
$table_blue: rgba(34, 112, 255, 0.18);
$main_grey: rgba(58, 57, 57, 0.3);

.form_tag {
  display: inline
}

.iit_form {
  fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label {
    display: inline;
  }
  .submit {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .result {
    margin: 0;
    color: #F35F5F;
    display: none;
  }
}

.sidebar_section {
  .update_iit_base {
    float: right;
  }
}

.ui-dialog {
  max-height: 600px;
  overflow-y: auto;
  width: 410px !important;
  top: 115px !important;

  li {
    height: 30px;
  }
  input[type=text] {
    width: 150px;
  }
  .batch_edit_label {
    display: inline-block;
    width: 80px;
    margin-left: 5px;
  }
  #dialog_confirm {
    max-height: 400px !important;
    overflow-y: auto;
  }
}

#utility_nav {
  .has_nested {
    margin-left: 113px;
  }

  #current_user ul {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
  }
}

.pa-content {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: solid 1px #cdcdcd;
  height: 50px;
  width: 60%;
  line-height: 30px;

  .time-ago {
    font-size: 80%;
    font-style: italic;
  }
}

#search_status_sidebar_section {
  h4 {
    font-size: 1em;
  }
}

.breadcrumb {
  font-size: 1.0em;
}

body.engineering_customers table.index_table {
  th:nth-child(3) {
    min-width: 150px !important;
  }
  th:nth-child(6) {
    min-width: 140px !important;
  }
  td.col-staffs {
    min-width: 80px !important;
    li {
      display: inline;
    }
  }
}

.engineering_corps {
  input[name='start_date'], input[name='end_date'] {
    width: 200px;
  }

  .active_big_contract {
    color: green;
  }

  .due_date .col-contract_end_date{
    background-color: $table_red;
  }
}

.engineering_projects {
  .index_table{
    th.col-name {
      min-width: 250px !important;
    }
    th.col-customer {
      min-width: 100px !important;
    }
    th.col-sub_company {
      min-width: 100px !important;
    }
    th.col-corporation {
      min-width: 100px !important;
    }
    th.col-remark {
      min-width: 100px !important;
    }
    td.col-staff_detail {
      min-width: 110px !important;
      li {
        display: inline;
      }
    }
    td.col-salary_table_detail {
      min-width: 100px !important;
      li {
        display: inline;
      }
    }
    td.col-locked {
      min-width: 80px !important;
      li {
        display: inline;
      }
    }
    td.col-actions {
      min-width: 80px !important;
    }
    td.col-invoices {
      // min-width: 80px !important;
      li {
        display: inline;
      }
    }
  }
}

.engineering_staffs {
  .action_item:last-child {
    display: none;
  }
  .index_table{
    th:nth-child(4) { // 状态
      min-width: 42px !important;
    }
    th:nth-child(5) { // 客户
      min-width: 100px !important;
    }
    th:nth-child(12) { // 备注
      min-width: 150px !important;
    }
    td.col-salary_item_detail {
      li {
        display: inline;
      }
    }
    th.col-remark {
      min-width: 100px !important;
    }
    th.col-actions {
      min-width: 80px !important;
    }
  }
}

.engineering_salary_tables .index_table{
  th.col-actions {
    min-width: 80px !important;
  }
  th.col-name {
    min-width: 70px !important;
  }
  th.col-project {
    min-width: 150px !important;
  }
}

.engineering_salary_tables .index_table{
  th.col-salary_item_detail {
    min-width: 80px !important;
  }
  td.col-salary_item_detail {
    li {
      display: inline;
    }
  }
  th.col-type {
    min-width: 80px !important;
  }
}

.engineering_normal_salary_items {
  .action_items {
    display: none;
  }
  .index_table {
    .view_link {
      display: none;
    }
    th.col-salary_table {
      min-width: 60px !important;
    }
    th.col-project_display {
      min-width: 120px !important;
    }
    th.col-customer_display {
      min-width: 100px !important;
    }
    th.col-actions {
      min-width: 60px !important;
    }
  }
  .ui-dialog {
    .batch_edit_label {
      width: 170px;
    }
  }
}
.engineering_normal_with_tax_salary_items {
  .action_items {
    display: none;
  }
  .index_table {
    .view_link {
      display: none;
    }
    th.col-salary_table {
      min-width: 60px !important;
    }
    th.col-project_display {
      min-width: 120px !important;
    }
    th.col-customer_display {
      min-width: 100px !important;
    }
    th.col-actions {
      min-width: 60px !important;
    }
  }
  .ui-dialog {
    .batch_edit_label {
      width: 170px;
    }
  }
}

#header {
}

.index_table {
  tfoot {
    background-color: $table_blue;
  }
}

.normal_corporations {
  .ui-dialog {
    .batch_edit_label {
      width: 85px;
    }
  }
  .index_table {
    th.col-name {
      min-width: 100px !important;
    }
    th.col-full_name {
      min-width: 100px !important;
    }
    th.col-remark {
      min-width: 200px !important;
    }
    th.col-address {
      min-width: 100px !important;
    }
    th.col-salary_table_display {
      min-width: 80px !important;
    }
    td.col-salary_table_display {
      li {
        display: inline;
      }
    }
    .due_date .col-contract_end_date{
      background-color: $table_red;
    }
  }
  .download_links {
    display: none;
  }
}

.normal_staffs {
  .index_table{
    th.col-normal_corporation {
      min-width: 100px !important;
    }
    th.col-address {
      min-width: 150px !important;
    }
    th.col-remark {
      min-width: 100px !important;
    }
    th.col-salary_item_display {
      min-width: 80px !important;
    }
    td.col-salary_item_display {
      li {
        display: inline;
      }
    }
    td.col-labor_contracts {
      min-width: 80px !important;
      li {
        display: inline;
      }
    }
  }
  .download_links {
    display: none;
  }
}

.labor_contracts {
  .index_table{
    .due_date .col-contract_end_date{
      background-color: $table_red;
    }
    th.col-normal_corporation {
      min-width: 100px !important;
    }
    th.col-work_type {
      min-width: 60px !important;
    }
  }
  .download_links {
    display: none;
  }
  .action_items {
    display: none;
  }
  .ui-dialog {
    width: 560px !important;
  }
}

.salary_tables, .non_full_day_salary_tables, .guard_salary_tables {
  .index_table{
    th.col-start_date {
      min-width: 65px !important;
    }
    th.col-name {
      min-width: 180px !important;
    }
    th.col-normal_corporation {
      min-width: 120px !important;
    }
    th.col-remark {
      min-width: 200px !important;
    }
    td.col-salary_items_display {
      min-width: 70px !important;
      li {
        display: inline;
      }
    }
    td.col-attachment {
      min-width: 70px !important;
      li {
        display: inline;
      }
    }
    th.col-actions {
      min-width: 100px !important;
    }
  }
}

.salary_items, .non_full_day_salary_items, .guard_salary_items  {
  .quan-bu {
    border-right: 0;
  }
  .index_as_table .panel {
    width: 960px;
  }
  .index_table{
    .col-salary_deserve {
      border-left: 2px solid $table_red;
      border-right: 2px solid $table_red;
    }
    .col-salary_in_fact {
      border-left: 2px solid $table_red;
      border-right: 2px solid $table_red;
    }
    .col-admin_amount {
      border-left: 2px solid $table_red;
      border-right: 2px solid $table_red;
    }
    .col-total_sum{
      border-left: 2px solid $table_red;
    }
    th.col-actions {
      min-width: 50px !important;
    }
    .transfer td{
      background-color: $table_red;
    }
    th.col-corporation_display {
      min-width: 80px !important;
    }
    th.col-salary_table_display {
      min-width: 150px !important;
    }
  }

  .table_tools {
    .views_selector {
      margin-left: 10px;
      margin-right: 10px;
    }
    .scopes {
      float: none !important;
    }
  }
  .ui-dialog {
    max-height: 600px !important;
    width: 650px !important;
    top: 115px !important;

    .batch_edit_label {
      width: 100px;
    }
    li {
      display: inline-block;
      margin: 10px 10px 10px 0;
    }
  }
  .progress-wrap {
    float: left;
    margin-left: 10px;
    border: 1px solid $table_red;

    .progress-bar {
      margin: 0;
      tr {
        display: inline-block;
        border-left: 1px solid $table_red;
        th, td {
          padding-bottom: 0;
        }
      }
    }
  }
}

.quan-bu {
  border-right: 1px solid $main_grey;
}

.invoices {
  .scopes {
    .gong-cheng {
      border-left: 1px solid $main_grey;
    }
    .ye-wu {
      border-right: 1px solid $main_grey;
    }
  }
  .index_table {
    th.col-category {
      min-width: 80px !important;
    }
    th.col-contact {
      min-width: 100px !important;
    }
    th.col-payer {
      min-width: 100px !important;
    }
    th.col-management {
      min-width: 80px !important;
    }
    th.col-actions {
      min-width: 60px !important;
    }
    th.col-project {
      min-width: 100px !important;
    }
    td.col-amount {
      text-align: right
    }
    td.col-admin_amount {
      text-align: right
    }
    td.col-total_amount {
      text-align: right
    }
  }
  .download_links {
    display: none;
  }
  .ui-dialog {
    width: 560px !important;
  }
}

.action_items {
  position: fixed;
  top: 60px;
  right: 20px;
}

.status_tag.cancel {
  background: #5B6166;
}
